@import '../../../sass/essentials';

.content-section {
    // align-items: flex-end;
    min-height: unset;
    margin-bottom: map_get( $spacing, "extra-extra-large" );
    align-items: end;

    .content-section__column {


        &.content-section__column-left, &.content-section__column-right {

            display: grid;
            grid-template-columns: repeat(6, 1fr);
            column-gap: 16px;
            justify-items: stretch;
            align-items: end;
            position: relative;

            .text-block {
                // grid-column-start: 2;
                // grid-column-end: 6;

                > * {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .image-block {
                // grid-column-start: 1;
                // grid-column-end: 7;

                .image-block__caption {
                    position: absolute;
                    bottom: 0;
                    transform: translateY(100%);
                }
            }
        }

        &.content-section__column-left {
            
            grid-column-start: 1;
            grid-column-end: 7;

            .image-block {
                .image-block__caption {
                    left: map_get( $spacing, "regular" );
                }
            }
        }

        &.content-section__column-right {
            
            grid-column-start: 7;
            grid-column-end: 13;

            .image-block {
                .image-block__caption {
                    right: map_get( $spacing, "regular" );
                }
            }
            
        }

        &.content-section__column-full {
            
        }
    }

    @media screen and (max-width: map_get( $mq-breakpoints, "medium" )) {
        .content-section__column {
            &.content-section__column-left, &.content-section__column-right {
                grid-template-columns: repeat(6, 1fr);
            }
        }
    }
}