@import '../../../sass/essentials';

.content-section {
    // align-items: flex-end;
    min-height: unset;
    margin-bottom: map_get( $spacing, "extra-extra-large" );
    align-items: end;

    &:first-of-type {
        margin-top: map_get( $spacing, "extra-extra-large" );
    }

    //bs-todo
    .content-section {
        display: inline-block !important;

        .content-section__column {
            display: inline-block !important;
        }
    }
    //bs-todo

    .content-section__column {


        &.content-section__column-left, &.content-section__column-right {

            display: grid;
            grid-template-columns: repeat(6, 1fr);
            column-gap: 16px;
            justify-items: stretch;
            align-items: end;
            position: relative;

            .text-block {
                // grid-column-start: 2;
                // grid-column-end: 6;
                // padding-top: map_get( $spacing, "extra-large" );
                margin-top: map_get( $spacing, "regular" );

                > * {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .image-block {
                // grid-column-start: 1;
                // grid-column-end: 7;
            }

            .slider-block {
                .fink-slide {
                    max-height: calc(50vw * 0.56);
                    
                    img {
                        height: 100%;
                        object-fit: contain
                    }
                }
            }

            .image-block__caption, .slider-block__caption {
                position: absolute;
                bottom: 0;
                transform: translateY(100%);
            }
        }

        &.content-section__column-left {
            
            grid-column-start: 1;
            grid-column-end: 7;

            .image-block {
            }

            .image-block__caption, .slider-block__caption {
                left: map_get( $spacing, "regular" );
            }
        }

        &.content-section__column-right {
            
            grid-column-start: 7;
            grid-column-end: 13;

            .image-block {
            }

            .image-block__caption, .slider-block__caption {
                right: map_get( $spacing, "regular" );
            }
            
        }

        &.content-section__column-full {
            grid-column-start: 1;
            grid-column-end: 13;

            .image-block {
                position: relative; 

                .image-block__caption {
                    position: absolute;
                    bottom: 0;
                    transform: translateY(100%);
                    right: map_get( $spacing, "regular" );
                    left: map_get( $spacing, "regular" );
                }
            }

            .slider-block {

                // * { 
                //     height: 100%
                // }
                .fink-slide {
                    // max-height: calc(50vw * 0.56);
                    // transform: translateY(50%);
                    
                    img {
                        height: 100%;
                        object-fit: contain
                    }
                }

                .slider-block__caption {
                    display: none;
                }
            }
            
        }
    }

    @media screen and (max-width: map_get( $mq-breakpoints, "medium" )) {

        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-bottom: map_get( $spacing, "regular" );

        .content-section__column {

            &.content-section__column-left, &.content-section__column-right, &.content-section__column-full {
                grid-template-columns: repeat(6, 1fr);


                .image-block {

                    // margin: map_get( $spacing, "regular" ) 0;
                }

                .text-block {
                    margin-left: map_get( $spacing, "regular" );
                    margin-right: map_get( $spacing, "regular" );
                }

                .slider-block {

                    .fink-slide {
                        // max-height: calc(100vw * 0.56);
                        
                        img {
                            height: 100%;
                            object-fit: contain
                        }
                    }
                }

                .image-block .image-block__caption, .slider-block .slider-block__caption  {
                    position: relative;
                    bottom: unset;
                    transform: unset;
                    left: unset;
                    right: unset;
                    margin-left: map_get( $spacing, "regular" );
                    margin-right: map_get( $spacing, "regular" );
                }

                .slider-block .slider-block__caption {
                    text-align: right;
                }
            }

            &.content-section__column-left {
                .image-block, .text-block, .slider-block {
                    margin-bottom: map_get( $spacing, "regular" );
                }

                &:first-child {
                    .text-block {
                        margin-top: map_get( $spacing, "regular" );
                    }
                }
            }
        }
    }
}