@import '../../../sass/essentials';

.home-project {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    scroll-snap-align: start;

    * {
        text-decoration: none;
    }

    .home-project-link {
        width: 100%;
    }

    .home-project-background {
        width: 100%;
        height: 100%;
        position: relative;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        
        .home-project-image {
            width: 100%;
            height: 100%;
            position: relative;
            top: 0;
            left: 0;
            object-fit: cover;

            &.home-project-image-texture {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                z-index: 1;
                opacity: 0;
                transition: $transition-extra-long;
            }
        }
        
        // img {
        //     width: 100%;
        //     height: 100%;
        //     object-fit: cover;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        // }
    }

    .home-project-content {

        width: 100%;

        h2 {
            font-size: 128px;
            line-height: 1;
            color: white;
            // grid-column-start: 2;
            // grid-column-end: 7;
            opacity: 0;
            transition: $transition-extra-long;
        }

        .home-project-meta {
            // grid-column-start: 2;
            // grid-column-end: 12;
            opacity: 0;
            transition: $transition-extra-long;

            > * {
                display: inline-block;
                margin: 0 map_get( $spacing, "extra-small" );
            }
        }
    }

    &.text-left {

        .home-project-content {

            h2 {
                grid-column-start: 2;
                grid-column-end: 7;
            }

            .home-project-meta {
                > * {
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    &.text-right {

        text-align: right;

        .home-project-content {

            justify-items: flex-end;

            h2 {
                grid-column-start: 7;
                grid-column-end: 12;
            }

            .home-project-meta {
                grid-column-end: 12;

                > * {
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &:hover {
        .home-project-image.home-project-image-texture {
            opacity: 1;
            transition: $transition-extra-long;
        }
        .home-project-content {

            h2 {
                opacity: 1;
                transition: $transition-extra-long-delayed;
            }

            .home-project-meta {
                opacity: 1;
                transition: $transition-extra-long-delayed;
            }
        }
    }

    @media screen and (max-width: map_get( $mq-breakpoints, "medium" )) {   

        height: 50vh;

        .home-project-content {

            width: 100%;
    
            h2 {
                font-size: 64px;
            }
        }
    }

}