@import '../../../sass/essentials';

.home-project {
    width: 100%;
    height: 80vh;
    min-height: 80vh;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    // scroll-snap-align: center;
    overflow: hidden;

    * {
        text-decoration: none;
    }

    .home-project-link {
        width: 100%;
        height: 100%;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .home-project-background {
        width: 100%;
        height: 100%;
        position: relative;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        
        .home-project-image {
            width: 100%;
            height: 100%;
            position: relative;
            top: 0;
            left: 0;
            object-fit: cover;
            transition: $transition-extra-long;

            &.home-project-image-texture {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                z-index: 1;
                opacity: 0;
            }
        }
        
        // img {
        //     width: 100%;
        //     height: 100%;
        //     object-fit: cover;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        // }
    }

    .home-project-content {

        width: 100%;

        h2 {
            font-size: 128px;
            line-height: 1;
            color: white;
            // grid-column-start: 2;
            // grid-column-end: 7;
            opacity: 0;
            transition: $transition-extra-long;
            margin-bottom: 0;
        }
        
        .home-project-meta {
            // grid-column-start: 2;
            // grid-column-end: 12;
            opacity: 0;
            transition: $transition-extra-long;
            margin-top: map_get( $spacing, "regular" );;

            > * {
                display: inline-block;
                margin: 0 map_get( $spacing, "extra-small" );
            }

            .home-project-excerpt {
                font-size: 3vw;
                line-height: 1.16;
                margin-top: map_get( $spacing, "regular" );
                margin-bottom: 0;
                width: 100%;

                @media screen and (max-width: map_get( $mq-breakpoints, "smal" )) {
                    font-size: 16px;
                }

                > * {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &.text-left {

        .home-project-content {

            h2 {
                grid-column-start: 2;
                grid-column-end: 7;
            }

            .home-project-meta {
                > * {
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    &.text-right {

        text-align: right;

        .home-project-content {

            justify-items: flex-end;

            h2 {
                grid-column-start: 7;
                grid-column-end: 12;
            }

            .home-project-meta {
                grid-column-end: 12;

                > * {
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &:hover {

        .home-project-link {
            opacity: 1;
        }
        
        .home-project-image {
            transition: $transition-extra-long;
            transform: scale(1.03);
        }
    }

    &.active {
        
        .home-project-image.home-project-image-texture {
            opacity: 1;
            transition: $transition-extra-long;
        }

        .home-project-content {

            h2 {
                opacity: 1;
                transition: $transition-extra-long-delayed-short;
            }

            .home-project-meta {
                opacity: 1;
                transition: $transition-extra-long-delayed;
            }
        }
    }

    @media screen and (max-width: map_get( $mq-breakpoints, "medium" )) {   

        height: 50vh;
        min-height: unset;

        .home-project-content {

            width: 100%;
    
            h2 {
                font-size: 10vw;
            }

            .home-project-meta {
                .home-project-excerpt {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
    }

}