@import '../../../sass/essentials';

.landing {
    width: 100%;
    height: 100vh;
    position: relative;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .scroll-down-button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: map_get( $spacing, "small" );
        padding: map_get( $spacing, "small" );
        background: none;
        border: none;
        color: white;
        font-weight: 300;
        cursor: pointer;
        transition: $transition-long;
        outline: none !important;
        width: 64px;
        height: 64px;

        svg {
            width: 100%;
            height: 100%;
        }

        &:hover {
            transform: translateX(-50%) scale(1.2);
        }

        animation: blink 1.5s infinite alternate;
    }

    @media screen and (max-width: map_get( $mq-breakpoints, "medium" )) {   
        .scroll-down-button {
            bottom: map_get( $spacing, "extra-extra-large" );
        }
    }
}