$content-width: 1240px;
$content-width--narrow: 768px;
// $header-height: 104px;
$header-height: 96px;
$header-height-mobile: 14vw;

$mq-breakpoints: (
	xsmall: 320px,
	small: 420px,
	medium: 768px,
	large: 1024px,
	xlarge: $content-width
) !default;

$spacing: (
	"extra-small": 4px,
	"small": 8px,
	"regular": 16px,
	"large": 4vw,
	"extra-large": 64px,
	"extra-extra-large": 128px,
	"extra-extra-extra-large": 256px,
);

// $font-sizes: (
// 	'menu'
// );

$transition: .1s;
$transition-long: .3s;
$transition-extra-long: 1s;
$transition-extra-long-delayed: 1s .6s;
$transition-extra-long-delayed-short: 1s .3s;
$border-radius: 8px;
$border-radius-small: 4px;
$box-shadow: 5px 0px 15px #00000012;