@import '../../../sass/essentials';
.project-header {

    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    // margin-bottom: map_get( $spacing, "extra-large" );

    .project-header__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img, .project-header-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .header-title {

        // grid-column-start: 2;
        // grid-column-end: 7;
        margin-bottom: 0;
    }

    @media screen and (max-width: map_get( $mq-breakpoints, "medium" )) {
        height: 50vh;
    }
}