@import '../../sass/essentials';

.home-partners {
    .home-partners-container {

        display: flex;
        flex-wrap: wrap;
        
        .home-partner {
            width: 25%;

        }
    }
}