@import '../../../sass/essentials';

footer {
    padding: map_get( $spacing, "regular" );
    padding-top: map_get( $spacing, "extra-large" );
    font-weight: 300;

    a {
        color: $black;
    }

    .footer-contact-info {
        grid-column-start: 2;
        grid-column-end: 7;

        * {
            margin-bottom: 0;
        }
    }

    .footer-navigation {
        grid-column-start: 7;
        grid-column-end: 12;
        align-self: flex-end;

        .footer-navigation-list {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;
            margin: 0;

            .footer-navigation-list-item {
                width: 100%;
                text-align: right;
                text-transform: uppercase;
            }
        }
    }

    .footer-copyright {
        grid-column-start: 1;
        grid-column-end: 13;
        text-align: center;
        margin-top: map_get( $spacing, "regular" );
    }


    
    @media screen and (max-width: map_get( $mq-breakpoints, "medium" )) {  

        padding-top: map_get( $spacing, "large" );
        padding-bottom: calc(14vh + #{map_get( $spacing, "regular" )});
    
        .footer-contact-info {
            grid-column-start: 1;
            grid-column-end: 4;
        }

        .footer-navigation {
            grid-column-start: 4;
            grid-column-end: 7;
        }

        .footer-copyright {
            grid-column-start: 1;
            grid-column-end: 7;
        }
    }


    
    @media screen and (max-width: map_get( $mq-breakpoints, "small" )) {  

        display: flex !important;
        flex-wrap: wrap;
    
        .footer-contact-info {
            width: 100%;
            margin-bottom: map_get( $spacing, "regular" );
        }

        .footer-navigation {
            width: 100%;

            .footer-navigation-list .footer-navigation-list-item {
                text-align: left;
                margin: 0;
            }
        }

        .footer-copyright {
            width: 100%;
            text-align: left;
        }
    }
}